<h4 style="font-size:17px; margin-left: 15px;"><b>Click on the policy to know more.</b></h4>

<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/PTJA.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/travel.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Transfer and Joining Assistance</p>
</div>
<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/LWSP.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/calendar.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Leave & Work Schedule</p>
</div>
<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/TP.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/help.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Travel Policy</p>
</div>

<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/PRG.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/team.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Respect for Gender</p>
</div>

<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/Tel.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
    <div class="card bg-c-white order-card">
        <div class="card-block">
            <img class="img-align" src="assets/logos/phone.png">
        </div>
    </div>
</a>
    <p class="text-bold">Telecommunication</p>
</div>

<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/PAIP.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/patient.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Personal Accident Insurance</p>
</div>
<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/MB.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/hygiene.png">
            </div>
        </div>
    </a>
    <p class="text-bold">Medical Benefits</p>
</div>
<div class="col-md-2 col-xl-3 ">
    <a href="https://vsmart.voltasworld.com/123/VoltbekITPolicy.pdf#toolbar=0&navpanes=0&scrollbar=0" target="_blank">
        <div class="card bg-c-white order-card">
            <div class="card-block">
                <img class="img-align" src="assets/logos/policy.png">
            </div>
        </div>
    </a>
    <p class="text-bold">IT Policy</p>
</div>